@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body,html,canvas{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

#mousePos{
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  color: green;
}

#wheel{
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
}

#dash{
  width: 100%;
  height: 15%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: transparent;
  border-top: solid 1mm white;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.dash_info{
  width: auto;
  height: 30px;
  margin: 10px;
  color: rgb(3, 153, 8);
  font-family: 'Press Start 2P', cursive;
}

#speed {
  position: absolute;
  left:15%;
  top: 15%;
  margin: auto;
}

#hour {
  position: absolute;
  left:15%;
  bottom: 15%;
  margin: auto;
}

#gps {
  position: absolute;
  right:15%;
  top: 15%;
  margin: auto;
}

#coord {
  position: absolute;
  right:15%;
  bottom: 15%;
  margin: auto;
}

ul.hub_btn {
  position: fixed;
  bottom: 0;
  left: 0;
  bottom: 30px;
  margin: auto;
}

.btn {
  display: inline;
}

.controls {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 30px;
  margin: auto;
  color: white;
  font-size: 14pt;
  font-weight: bold;
  padding: 10px;
}

li > button {
  background-color: white;
  border: none;
  font-size: 14pt;
  font-weight: bold;
  padding: 10px;
}
